@model SanaatanGroup.Models.Media
@{
    ViewBag.Title = "Index";
}

<div class="sectionWrapper">
    <div class="container">
        <div class="row">
            <div class="cell-12 fx" data-animate="fadeInLeft">

                <div style="font-weight:bold; font-size:25px;margin-left:400px"><a href="@Url.Action("ShowImages","Media")"><i class="fa fa-star"></i><span><u>Media</u></span></a>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="@Url.Action("Events","Media")"><i class="fa fa-star"></i><span><u>Events</u></span></a></div>

                </div>
            </div>
        </div>
    </div>

