@{
    ViewBag.Title = "Home Page";
}
<!-- Revolution slider start -->
<div class="tp-banner-container">
    <div class="tp-banner">
        <ul>
            <li data-slotamount="7" data-transition="zoomin" data-masterspeed="1000" data-saveperformance="on">
                <img alt="" src="~/content/images/Slider.jpg">
                <div class="tp-caption customin main-title tp-resizeme"
                     data-x="center" data-hoffset="0"
                     data-y="center" data-voffset="0"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="300"
                     data-start="1200"
                     data-easing="Power3.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     style="z-index: 18; max-width: auto; max-height: auto; white-space: nowrap;">

                </div>
                <div class="caption sfl subTxt tp-resizeme" data-x="168" data-y="205" data-speed="600" data-start="1600"></div>
                <div class="caption sfr subTxt tp-resizeme" data-x="640" data-y="282" data-speed="600" data-start="1600"></div>
            </li>

        </ul>
    </div>
</div>
<!-- Revolution slider end -->
<!-- Welcome Box start -->
<!-- Welcome Box end -->

<div class="sectionWrapper">
    <div class="container">
        <div class="row">
            <div class="cell-3 service-box-2 fx" data-animate="fadeInDown">
                <div class="box-2-cont">
                    <i class="fa fa-check-square-o"></i>
                    <h4>Purpose of Our Existence</h4>
                    <br />
                    <p class="mediumFont" style="text-align:justify">We have evolved in the Corporate World because the conditions just happened to be suitable. It did not require a “DESIGN PLAN” rather it was pure chance.We humbly believe that events were designed in such a way that our development was a necessary outcome.We think it just happened and equally... </p>
                    <a class="r-more main-color" href="@Url.Action("PurposeOfOurExistence","Message")">Read More</a>
                </div>
            </div>
            <div class="cell-3 service-box-2 fx" data-animate="fadeInDown" data-animation-delay="200">
                <div class="box-2-cont">
                    <i class="fa fa-thumbs-o-up"></i>
                    <h4>Brands</h4>
                    @*<div class="center sub-title main-color">sub title</div>*@
                    <p class="mediumFont">
                        <div class="portfolioGalleryCustom portfolio">
                            <!-- staff item start -->
                            <div>
                                <div class="portfolio-item">
                                    <div class="img-holder">
                                        <div class="img-over">
                                            <a href="~/Content/images/portfolio/cfcdsc.png" title="Cashmere eFiling Centre"></a>
                                        </div>
                                        <img alt="" src="~/Content/images/portfolio/cfcdsc.png">
                                    </div>
                                    <div class="name-holder">
                                        <a href="#" class="project-name">Cashmere Efiling Centre</a>
                                        @*<span class="project-options">Project Category</span>*@
                                    </div>
                                </div>
                            </div>
                            <!--staff item end-->
                            <!-- staff item start -->
                            <div>
                                <div class="portfolio-item">
                                    <div class="img-holder">
                                        <div class="img-over">
                                            <a href="~/Content/images/portfolio/cac.png" title="Chambers Amicus Curiae"></a>
                                        </div>
                                        <img alt="" src="~/Content/images/portfolio/cac.png">
                                    </div>
                                    <div class="name-holder">
                                        <a href="#" class="project-name">Chambers Amicus Curiae</a>
                                        
                                    </div>
                                </div>
                            </div>
                            <!--staff item end-->
                            <!-- staff item start -->
                            <div>
                                <div class="portfolio-item">
                                    <div class="img-holder">
                                        <div class="img-over">
                                            <a href="~/Content/images/portfolio/ch.png" title="Corporate Healing"></a>
                                        </div>
                                        <img alt="" src="~/Content/images/portfolio/ch.png">
                                    </div>
                                    <div class="name-holder">
                                        <a href="#" class="project-name">Corporate Healing</a>
                                        
                                    </div>
                                </div>
                            </div>
                            <!--staff item end-->
                           
                            <!-- staff item start -->
                            <div>
                                <div class="portfolio-item">
                                    <div class="img-holder">
                                        <div class="img-over">
                                            <a href="~/Content/images/portfolio/saferoofs.png" title="Saferoofs"></a>
                                        </div>
                                        <img alt="" src="~/Content/images/portfolio/saferoofs.png">
                                    </div>
                                    <div class="name-holder">
                                        <a href="#" class="project-name">Saferoofs</a>
                                        
                                    </div>
                                </div>
                            </div>
                            <!--staff item end-->
                            <!-- staff item start -->
                            <div>
                                <div class="portfolio-item">
                                    <div class="img-holder">
                                        <div class="img-over">
                                            <a href="~/Content/images/portfolio/Takshillaa.png" title="Takshilla - The Knowledge Hub"></a>
                                        </div>
                                        <img alt="" src="~/Content/images/portfolio/Takshillaa.png">
                                    </div>
                                    <div class="name-holder">
                                        <a href="#" class="project-name">Takshillaa</a>
                                        
                                    </div>
                                </div>
                            </div>
                            <!--staff item end-->
                            <!-- staff item start -->
                            <div>
                                <div class="portfolio-item">
                                    <div class="img-holder">
                                        <div class="img-over">
                                            <a href="~/Content/images/portfolio/divine.png" title="Divine Investors"></a>
                                        </div>
                                        <img alt="" src="~/Content/images/portfolio/divine.png">
                                    </div>
                                    <div class="name-holder">
                                        <a href="#" class="project-name">Divine Investors</a>
                                        
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="portfolio-item">
                                    <div class="img-holder">
                                        <div class="img-over">
                                            <a href="~/Content/images/portfolio/lcm.jpg" title="Intelli LCM"></a>
                                        </div>
                                        <img alt="" src="~/Content/images/portfolio/lcm.jpg">
                                    </div>
                                    <div class="name-holder">
                                        <a href="#" class="project-name">Intelli LCM</a>

                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="portfolio-item">
                                    <div class="img-holder">
                                        <div class="img-over">
                                            <a href="~/Content/images/portfolio/gst.jpg" title="Intelli GST"></a>
                                        </div>
                                        <img alt="" src="~/Content/images/portfolio/gst.jpg">
                                    </div>
                                    <div class="name-holder">
                                        <a href="#" class="project-name">Intelli GST</a>

                                    </div>
                                </div>
                            </div>
                            <!--staff item end-->
                        </div>
                    </p>
                    <a class="r-more main-color" href="@Url.Action("Brands","Message")">Read More</a>
                </div>
            </div>
            <div class="cell-3 service-box-2 fx" data-animate="fadeInDown" data-animation-delay="400">
                <div class="box-2-cont">
                    <i class="fa fa-group"></i>
                    <h4>Projects and Efforts</h4>
                    @*<div class="center sub-title main-color">sub title</div>*@
                    <p class="mediumFont">
                        <div class="portfolioGalleryCustom portfolio">
                            <!-- staff item start -->
                            <div>
                                <div class="portfolio-item">
                                    <div class="img-holder">
                                        <div class="img-over">
                                            @*<a href="portfolio-single.html" class="fx link"><b class="fa fa-link"></b></a>*@
                                            <a href="~/Content/images/portfolio/project efforts2.png" class="fx zoom" data-gal="prettyPhoto[pp_gal]" title="Project Efforts"><i class="fa fa-search-plus"></i></a>
                                        </div>
                                        <img alt="" src="~/Content/images/portfolio/project efforts2.png">
                                    </div>
                                    @*<div class="name-holder">
                                            <a href="#" class="project-name">Project Title</a>
                                            <span class="project-options">Project Category</span>
                                        </div>*@
                                </div>
                            </div>
                            <!-- staff item end -->

                        </div>
                    </p>
                    <a class="r-more main-color" href="@Url.Action("ProjectAndEfforts","Message")">Read More</a>
                </div>
            </div>
            <div class="cell-3 service-box-2 fx" data-animate="fadeInDown" data-animation-delay="600">
                <div class="box-2-cont">
                    <i class="fa fa-leaf"></i>
                    <h4>e-Governance</h4>
                    @*<div class="center sub-title main-color">sub title</div>*@
                    <p class="mediumFont">
                        <div class="portfolioGalleryCustom portfolio">
                            <!-- staff item start -->
                            <div>
                                <div class="portfolio-item">
                                    <div class="img-holder">
                                        <div class="img-over">
                                           
                                            <a href="~/Content/images/portfolio/egov.png" class="fx zoom" data-gal="prettyPhoto[pp_gal]" title="e-Governance"><i class="fa fa-search-plus"></i></a>
                                        </div>
                                        <img alt="" src="~/Content/images/portfolio/egov.png">
                                    </div>
                                    @*<div class="name-holder">
                                            <a href="#" class="project-name">Project Title</a>
                                            <span class="project-options">Project Category</span>
                                        </div>*@
                                </div>
                            </div>
                            <!-- staff item end -->

                        </div>
                    </p>
                    <a class="r-more main-color" href="@Url.Action("EGovernance","Message")">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Staff -->
