
@{
    ViewBag.Title = "Brands";
}

<div class="page-title title-1">
    <div class="container">
        <div class="row">
            <div class="cell-12">
                <h1 class="fx" data-animate="fadeInLeft">Brands</h1>
                @*<div class="breadcrumbs main-bg fx" data-animate="fadeInUp">
                        <span class="bold">You Are In:</span><a href="#">Home</a><span class="line-separate">/</span><a href="#">Pages </a><span class="line-separate">/</span><span>Page with Sidebar</span>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class="sectionWrapper">
    <div class="container">
        <div id="portfolioGallery-filter" class="portfolio-filterable">
            <div class="row">
                
                <div class="portfolio-items">
                    <div class="cell-4" data-filter="app">
                        <div class="portfolio-item">
                            <div class="img-holder">
                                <div class="img-over">
                                    <a href="~/Content/images/portfolio/cfcdsc.png" title="Cashmere eFiling Centre"></a>
                                </div>
                                <img alt="" src="~/Content/images/portfolio/cfcdsc.png">
                            </div>
                            <div class="name-holder">
                                <a href="http://www.cfcdsc.com" class="project-name">Cashmere Efiling Centre</a>
                                @*<span class="project-options">Project Category</span>*@
                            </div>
                        </div>
                    </div>
                    <div class="cell-4" data-filter="card">
                        <div class="portfolio-item">
                            <div class="img-holder">
                                <div class="img-over">
                                    <a href="~/Content/images/portfolio/cac.png" title="Chambers Amicus Curiae"></a>
                                </div>
                                <img alt="" src="~/Content/images/portfolio/cac.png">
                            </div>
                            <div class="name-holder">
                                <a href="http://www.chambersamicuscuriae.com" class="project-name">Chambers Amicus Curiae</a>

                            </div>
                        </div>
                    </div>
                    <div class="cell-4" data-filter="icon">
                        <div class="portfolio-item">
                            <div class="img-holder">
                                <div class="img-over">
                                    <a href="~/Content/images/portfolio/ch.png" title="Corporate Healing"></a>
                                </div>
                                <img alt="" src="~/Content/images/portfolio/ch.png">
                            </div>
                            <div class="name-holder">
                                <a href="http://www.corporatehealing.com" class="project-name">Corporate Healing</a>

                            </div>
                        </div>
                    </div>
                    <div class="cell-4" data-filter="app">
                        <div class="portfolio-item">
                            <div class="img-holder">
                                <div class="img-over">
                                    <a href="~/Content/images/portfolio/saferoofs.png" title="Saferoofs"></a>
                                </div>
                                <img alt="" src="~/Content/images/portfolio/saferoofs.png">
                            </div>
                            <div class="name-holder">
                                <a href="http://www.saferoofs.com" class="project-name">Saferoofs</a>

                            </div>
                        </div>
                    </div>
                    <div class="cell-4" data-filter="card">
                        <div class="portfolio-item">
                            <div class="img-holder">
                                <div class="img-over">
                                    <a href="~/Content/images/portfolio/Takshillaa.png" title="Takshilla - The Knowledge Hub"></a>
                                </div>
                                <img alt="" src="~/Content/images/portfolio/Takshillaa.png">
                            </div>
                            <div class="name-holder">
                                <a href="http://www.takshillaa.com" class="project-name">Takshillaa</a>

                            </div>
                        </div>
                    </div>
                    <div class="cell-4" data-filter="icon">
                        <div class="portfolio-item">
                            <div class="img-holder">
                                <div class="img-over">
                                    <a href="~/Content/images/portfolio/divine.png" title="Divine Investors"></a>
                                </div>
                                <img alt="" src="~/Content/images/portfolio/divine.png">
                            </div>
                            <div class="name-holder">
                                <a href="http://www.divineinvestors.in" class="project-name">Divine Investors</a>

                            </div>
                        </div>
                    </div>
                    <div class="cell-5" data-filter="card">
                        <div class="portfolio-item">
                            <div class="img-holder">
                                <div class="img-over">
                                    <a href="~/Content/images/portfolio/lcm.jpg" title="Intelli LCM"></a>
                                </div>
                                <img alt="" src="~/Content/images/portfolio/lcm.jpg">
                            </div>
                            <div class="name-holder">
                                <a href="http://www.demo.intellilcm.com" class="project-name">Intelli LCM</a>

                           </div>
                        </div>
                    </div>
                    <div class="cell-5" data-filter="icon">
                        <div class="portfolio-item">
                            <div class="img-holder">
                                <div class="img-over">
                                    <a href="~/Content/images/portfolio/gst.jpg" title="Intelli GST"></a>
                                </div>
                                <img alt="" src="~/Content/images/portfolio/gst.jpg">
                            </div>
                            <div class="name-holder">
                                <a href="http://www.intelligst.com" class="project-name">Intelli GST</a>

                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>