
@{
    ViewBag.Title = "Corporate Expedition";
}

<div class="page-title title-1">
    <div class="container">
        <div class="row">
            <div class="cell-12">
                <h1 class="fx" data-animate="fadeInLeft">Corporate <span>Expedition</span></h1>
            </div>
        </div>
    </div>
</div>

<div class="sectionWrapper">
    <div class="container">
        <div class="block-bg-4 our-plan">
            <div class="container">
                <div class="cell-4 plan-block lft-plan">
                    <div class="block fx" data-animate="fadeInRight">
                        <h3>Consultant, JKSIDCO</h3>
                        <p>
                            Development Banking Consultant, of J&amp;K State Industrial Development Corporation Limited
                        </p>
                        <div class="plan-year"><span>1998</span></div>
                    </div>
                    <div class="block fx" data-animate="fadeInRight">
                        <h3>Consultant, SMVDSB</h3>
                        <p>
                            Investment Consultant, Shri Mata Vaishno Devi Shrine Board
                        </p>
                        <div class="plan-year"><span>2003</span></div>
                    </div>
                    <div class="block fx" data-animate="fadeInRight">
                        <h3>CFC,MCA</h3>
                        <p>
                           Certified Filing Center for Ministry of Corporate Affairs
                        </p>
                        <div class="plan-year"><span>2006</span></div>
                    </div>
                    <div class="block fx" data-animate="fadeInRight">
                        <h3>Consultant, GIZ</h3>
                        <p>
                            Financial Consultant, Deutsche Gesellschaft für Internationale 
                        </p>
                        <div class="plan-year"><span>2007</span></div>
                    </div>
                    <div class="block fx" data-animate="fadeInRight">
                        <h3>CFC, CBEC</h3>
                        <p>
                           Certified Filing Center of Central Board of Excise &amp; Customs
                        </p>
                        <div class="plan-year"><span>2014</span></div>
                    </div>
                  
                </div>
                <div class="cell-4 plan-title">
                    <div class="main-color extraBold">
                        Key<br>
                        <span style="font-size:36px">Achievements</span>
                    </div>
                </div>
                <div class="cell-4 plan-block rit-plan">
                    <div class="block fx" data-animate="fadeInLeft">
                        <h3>Consultant, JKFDC</h3>
                        <p>
                            Consultant Corporate Governance, Department Of Finance, Government of Jammu and Kashmir
                        </p>
                        <div class="plan-year"><span>1998</span></div>
                    </div>
                    <div class="block fx" data-animate="fadeInLeft">
                        <h3>Consultant, Corporation Bank</h3>
                        <p>
                          Financial Consultant, Corporation Bank
                        </p>
                        <div class="plan-year"><span>2004</span></div>
                    </div>
                    <div class="block fx" data-animate="fadeInLeft">
                        <h3>LRA, ncode Solutions</h3>
                        <p>
                            Local Registration Authority, (n)Code Solutions
                        </p>
                        <div class="plan-year"><span>2006</span></div>
                    </div>
                    
                    <div class="block fx" data-animate="fadeInLeft">
                        <h3>Consultant, JKIT</h3>
                        <p>
                           Consultant, Department of Information and Technology, Jammu &amp; Kashmir.
                        </p>
                        <div class="plan-year"><span>2012</span></div>
                    </div>
                    <div class="block fx" data-animate="fadeInLeft">
                        <h3>RP, SEBI</h3>
                        <p>
                            Resource Person for Securities and Exchange Board of India
                        </p>
                        <div class="plan-year"><span>2016</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


