
@{
    ViewBag.Title = "EGovernance";
}
<div class="page-title title-1">
    <div class="container">
        <div class="row">
            <div class="cell-12">
                <h1 class="fx" data-animate="fadeInLeft">E - <span>Governance</span></h1>
                @*<div class="breadcrumbs main-bg fx" data-animate="fadeInUp">
                        <span class="bold">You Are In:</span><a href="#">Home</a><span class="line-separate">/</span><a href="#">Pages </a><span class="line-separate">/</span><span>Page with Sidebar</span>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class="sectionWrapper">
    <div class="container">
        <div class="row">
            <div class="cell-12">
                <p style="text-align:justify">
                    At Sanaatan Group, we value good governance at all levels of society.
                    </p>
                <p style="text-align:justify">
                    E-Governance is the process of decision making and the process by which decisions are implemented or not implemented and it applies to individuals, corporate, institutional, national, international or local governance level or to the interactions between other sectors of society.
                
                </p>
                <p style="text-align:justify">
                    E-Governance is the dynamic interaction between people, structures, processes and traditions that support the exercise of legitimate authority in provision of sound leadership, direction, overnight and control of an entity in order to ensure that its purpose is achieved and there is proper accounting for the conduct of its affairs, the use of its resources and the result of its activities. Good governance at entity level can be maximized if there is self-governance at individual, family, groups and social unit level.
                </p>
                <p style="text-align:justify">
                    Self-governance is an ethical code that outlines acceptable behavior within the self or society :
                </p>
                <div class="roundedimage">
                    <img src="~/Content/images/Governance11.png" style="max-height:700px" />
                </div>
                </div></div></div></div>
