
@{
    ViewBag.Title = "Executive Leadership";
}

<div class="page-title title-1">
    <div class="container">
        <div class="row">
            <div class="cell-12">
                <h1 class="fx" data-animate="fadeInLeft">Executive <span>Leadership</span></h1>
             </div>
        </div>
    </div>
</div>

<div class="sectionWrapper">
    <div class="container">
        <div class="row">
            <div class="cell-12">
               <h3 class="block-head">Executive Leadership</h3>
                
                <p style="text-align:justify">
                    FCS M Sadashiv Puri is a senior member of the Institute of Company Secretaries of India, engaged in the business and profession of Managerial, Financial, Legal, Secretarial, IT and e-Governance Services since last three decades under the banner of SANAATAN GROUP.
                </p>
            </div>

        </div>
    </div>
</div>
