
@{
    ViewBag.Title = "Key Industrial Exposure";
}
<div class="page-title title-1">
    <div class="container">
        <div class="row">
            <div class="cell-12">
                <h1 class="fx" data-animate="fadeInLeft">Key<span>Industrial Exposure</span></h1>
                @*<div class="breadcrumbs main-bg fx" data-animate="fadeInUp">
                           <span class="bold">You Are In:</span><a href="#">Home</a><span class="line-separate">/</span><a href="#">Pages </a><span class="line-separate">/</span><span>Page with Sidebar</span>
                    </div>*@
            </div>
        </div>
    </div>
</div>

<div class="sectionWrapper">
    <div class="container">
        <div class="row">
           <div class="cell-12" style="color:black">
                 <h3 class="block-head">Key Industrial Exposure</h3>
                <ul class="list prim list-ok cell-4">
                    <li>Non Banking Financial Company</li>
                    <li>Plastics and Polymers</li>
                    <li>Chemical Process Industry</li>
                    <li>Mechanical, Fabrication and Metallurgy</li>
                    <li>Food Processing and Agro Industry</li>
                    <li>Information Technology/ITES/e-Governance</li>
                    <li>Home Appliances/Entertainment</li>
                </ul>
                <ul class="list prim list-ok cell-4">
                    <li>Textile/Fashion/Handicraft/Jewellery</li>
                    <li>Development Banking</li>
                    <li>Hospitality and Tourism</li>
                    <li>Co-operative and Clubs</li>
                    <li>Automobile Sector</li>
                    <li>Public Sector Undertaking</li>
                    <li>Healthcare and Wellness</li>
                </ul>
                <ul class="list prim list-ok cell-4">
                    <li>Textile/Fashion/Handicraft/Jewellery</li>
                    <li>Development Banking</li>
                    <li>Hospitality and Tourism</li>
                    <li>Co-operative and Clubs</li>
                    <li>Automobile Sector</li>
                    <li>Public Sector Undertaking</li>
                    <li>Healthcare and Wellness</li>
                </ul>
            </div>
        </div>
    </div>
</div>