
@{
    ViewBag.Title = "Message From The Prime Mover";
}

<div class="page-title title-1">
    <div class="container">
        <div class="row">
            <div class="cell-12">
                <h1 class="fx" data-animate="fadeInLeft">Message <span>From The Prime Mover</span></h1>
                @*<div class="breadcrumbs main-bg fx" data-animate="fadeInUp">
                        <span class="bold">You Are In:</span><a href="#">Home</a><span class="line-separate">/</span><a href="#">Pages </a><span class="line-separate">/</span><span>Page with Sidebar</span>
                    </div>*@
            </div>
        </div>
    </div>
</div>

<div class="sectionWrapper">
    <div class="container">
        <div class="row">
            <div class="cell-12">
                @*<div class="post-image details-img">
                        <a href="images/blog/1.jpg" class="zoom">
                            <div class="mask"></div>
                            <img src="images/blog/1.jpg" alt="Our Blog post image goes here">
                        </a>
                    </div>*@
                <h3 class="block-head">Message From The Prime Mover</h3>
                <blockquote>
                    <p style="text-align:center;color:#000">ENDLESS TRANSFORMATION IMMACULATE GOVERNANCE</p>                   
                </blockquote>
                <p style="text-align:justify">
                    The NUCLEUS of SANAATAN is to understand an organization with respect to its strengths, weaknesses, opportunities and threats and suggest technology enabled innovative transformation measures to achieve an optimum business performance within the constraints faced by an organization/enterprise.
                </p>
            </div>
     
        </div>
    </div>
</div>
