
@{
    ViewBag.Title = "Mission And Values";
}


<div class="page-title title-1">
    <div class="container">
        <div class="row">
            <div class="cell-12">
                <h1 class="fx" data-animate="fadeInLeft">Mission <span>And Values</span></h1>
                @*<div class="breadcrumbs main-bg fx" data-animate="fadeInUp">
                        <span class="bold">You Are In:</span><a href="#">Home</a><span class="line-separate">/</span><a href="#">Pages </a><span class="line-separate">/</span><span>Page with Sidebar</span>
                 </div>*@
            </div>
        </div>
    </div>
</div>

<div class="sectionWrapper">
    <div class="container">
        <div class="row">
            <div class="cell-7">
                @*<div class="post-image details-img">
                        <a href="images/blog/1.jpg" class="zoom">
                            <div class="mask"></div>
                            <img src="images/blog/1.jpg" alt="Our Blog post image goes here">
                        </a>
                    </div>*@
                <h3 class="block-head">Mission And Values</h3>
                <p style="text-align:justify">
                    The Business Process underlying the foundation and philosophy of SANAATAN GROUP is to set up an Awareness Exchange platform amongst Employees, Associates, Alliances, Clients and Society, harmonized with Innovative processes of Resource Pooling and Utilization and leading to optimum Governance at each stage of a Project, through transformation of the Project Team.
                </p>
            </div>
            <div class="cell-1"><br></div>
            <div class="cell-4 fx" data-animate="fadeInUp">

                <img src="~/Content/images/boat.png" />
            </div>
        </div>
    </div>
</div>


