
@{
    ViewBag.Title = "Our Alliances And Associations";
}

<div class="page-title title-1">
    <div class="container">
        <div class="row">
            <div class="cell-12">
                <h1 class="fx" data-animate="fadeInLeft">Our Alliances<span>And Associates</span></h1>
             </div>
        </div>
    </div>
</div>

<div class="sectionWrapper">
    <div class="container">
        <div class="row">
            <div class="cell-12">
                <h3 class="block-head">Our Alliances And Associates</h3>
                <p style="text-align:justify">
                    The Business Model adopted by SANAATAN GROUP is designed to enter into STRATEGIC BUSINESS PARTNERSHIP tie-up with Technology Partners across the country and deliver these technology enabled business/governance solutions as an intermediary with an intimate monitoring of the change process.
                </p>
            </div>
         
        </div>
    </div>
</div>