
@{
    ViewBag.Title = "Privacy Policy";
}


<div class="page-title title-1">
    <div class="container">
        <div class="row">
            <div class="cell-12">
                <h1 class="fx" data-animate="fadeInLeft">Privacy <span>Policy</span></h1>
                @*<div class="breadcrumbs main-bg fx" data-animate="fadeInUp">
                        <span class="bold">You Are In:</span><a href="#">Home</a><span class="line-separate">/</span><a href="#">Pages </a><span class="line-separate">/</span><span>Page with Sidebar</span>
                    </div>*@
            </div>
        </div>
    </div>
</div>

<div class="sectionWrapper">
    <div class="container">
        <div class="row">
            <div class="cell-12">
                <h3 class="block-head">Privacy Plan</h3>
                <p style="text-align:justify">
                    SANAATAN GROUP is dedicated & committed to protect the confidentiality and privacy of information entrusted to it. In furtherance of this fundamental obligation, SANAATAN GROUP is consecrated to the appropriated protection and use of personal information or more commonly known as “personally identifiable information(PII)” that has been collected through our website. Generally our intent is to collect only the personal information that is provided voluntarily by visitors to our website so that we can offer information and knowledge services to the members of knowledge society.
                </p>

            </div>
            <div class="cell-12">

                <h3 class="block-head">Collection and use of PII </h3>
                <p style="text-align:justify">
                    We obtain personal information about you if you choose to provide it- for example to create various categories of email Accounts or registration under various zones for specified services under that category. You may have previously provided your PII to SANAATAN GROUP (if for example, you have participated in some event, seminar, conference or otherwise in survey. By registering, and/or submitting personal information on our website, you are also agreeing to the use this information in accordance with this privacy statement. Your personal information is not used for other purposes, unless we obtain your permission, or unless otherwise required or permitted by law or professional standards or terms of services.
                </p>

                <p style="text-align:justify">
                    For example, if you send us an email message requesting information about SANAATAN GROUP, we will use your email address and other information to respond to your request. We will use this information that you provide to facilitate brought by services sought by you in only for so long as the information is necessary to comply with an individual’s request or until that person asks that the information be deleted.
                </p>

            </div>
            <div class="cell-12">

                <h3 class="block-head">Links to other sites</h3>
                <p style="text-align:justify">
                    Please be aware that SANAATAN GROUP website may contain links to other sites, including sites maintained by other SANAATAN GROUP knowledge partners or members firms/ companies that are not governed by this private policy but by other privacy statements that may differ somewhat. We encourage users to review the private policy of each such website visited before disclosing any personal information.
                </p>
            </div>
            <div class="cell-12">

                <h3 class="block-head">Changes to this policy</h3>
                <p style="text-align:justify">
                    SANAATAN GROUP may modify this private policy from time to time to reflect our current privacy policies. When we make changes to these policies, we will revise the updated date at the top of this page. We encourage you to periodically review this private policy to be informed about how SANAATAN GROUP is protecting your information.
                </p>
            </div>
            <div class="cell-12">

                <h3 class="block-head">Policy Questions and Enforcements</h3>
                <p style="text-align:justify">
                    SANAATAN GROUP is committed to protecting the online privacy of your personal information. If you have questions or comments about our administration of your personally identifiable information, please contact us at <b>support@sanaatangroup.com</b>. You may also use this address to communicate any concerns you may have regarding compliance with our private policy.
                </p>
            </div>
            <div class="cell-12">

                <h3 class="block-head">Policy Questions and Enforcements</h3>
                <p style="text-align:justify">
                    SANAATAN GROUP is committed to protecting the online privacy of your personal information. If you have questions or comments about our administration of your personally identifiable information, please contact us at <b>support@sanaatangroup.com</b>. You may also use this address to communicate any concerns you may have regarding compliance with our private policy.
                </p>
                <p style="text-align:justify">
                    Throughout this website, “SANAATAN GROUP, “we”,”our”, and “us” refers to SANAATAN GROUP, an Indian entity, and/or to any one or more of the associated concerns of the “SANAATAN GROUP” and its knowledge Network.
                </p>
                <p style="text-align:justify">
                    If you decide to unsubscribe from a services or communication, we will try to remove your information promptly, although we may require additional information before we can process your request.
                </p>
                <p style="text-align:justify">
                    As discussed above, if you wish to prevent cookies from tracking you as your navigate our website, you can reset your browser to refuse all cookies or to indicate when a cookie is being sent. Note, however that some of portions of our website may not work properly, if you elect to refuse cookies.
                </p>
            </div>
            <div class="cell-12">

                <h3 class="block-head">Access</h3>
                <p style="text-align:justify">
                    If you have submitted personal information to SANAATAN GROUP, under most circumstances you have the right to reasonable access to that data to count any inaccuracies. You can also make a request to update or remove information about you by contacting privacy efforts to comply with your request, so long as it is consistent with applicable, law and professional standards.
                </p>
            </div>
            <div class="cell-12">

                <h3 class="block-head">Data Security and Integrity</h3>
                <p style="text-align:justify">
                    SANAATAN GROUP has reasonable security policies and procedures in place to protect personal information from unauthorized loss, misuse, alteration or destruction. Despite SANAATAN GROUP’s best efforts, however, security cannot be absolutely guaranteed against all threats. To the best of our abilities, access to your personal information is limited to those who have a need to those who have a need to know. Those individuals who have access to the data are required to maintain the confidentiality of such information. We also make reasonable efforts to retain personal information.
                </p>
                <p style="text-align:justify">
                    SANAATAN GROUP may also disclose PII in connection with the sale, assignment, or other transfer of the business of the site to which the data relates, in order to respond to requests of government or law enforcement agencies or where this is required b applicable laws, court orders, or government regulations. These disclosures may also be needed for data privacy for security audits and/or to investigate or respond to a complaint or security threat. SANAATAN GROUP does not sell PII to any third parties. Also, SANAATAN GROUP will not transfer the PII you provide to any third parties for their own direct marketing use.
                </p>
            </div>
            <div class="cell-12">

                <h3 class="block-head">Children</h3>
                <p style="text-align:justify">
                    SANAATAN GROUP understands the importance of protecting children’s privacy, especially in an online environment. In particular, our site is not intentionally designed for or directed at children under the age of 13. It is our policy never to knowingly collect or maintain information about anyone under the age of 13 except as part of an engagement to provide professional services. However children under 13 can ask their parents to interact with the website.
                </p>
            </div>
            <div class="cell-12">

                <h3 class="block-head">Choices</h3>
                <p style="text-align:justify">
                    You have several choices regarding your use of our site. In general you are not required to submit any PII, when you visit our website, but SANAATAN GROUP may require you to provide certain PII in order for you to receive a certain PII in order for you to receive additional information about our services and events. At times, we may ask for your permission for certain uses of your PII, and you can agree to or decline those users. If you opt-in for particular services or communication, such as e-books, e-articles etc, you will be able to unsubscribe at any time by following the instructions included in each communication.
                </p>
                <p style="text-align:justify">
                    You may have the option to render some web beacons unusable by rejecting their associated cookies. The web beacons may still record an anonymous visit from your IP address but cookie information will not be recorded. 
                </p>
                <p style="text-align:justify">
                    In some of our newsletter and other communications, we may confirm a recipient’s email address through embedded links with in the messages. We collect this information to gauge user interest and to enhance future user experiences. 
                </p>
               
            </div>
            <div class="cell-12">

                <h3 class="block-head">Sharing and transfer of PII </h3>
                <p style="text-align:justify">
                    We do not share personal information with unaffiliated third parties, except as necessary for our legitimate professional and business needs, to carry out your requests, and/or as required or permitted by law or professional standards.
                </p>
                <p style="text-align:justify">
                    In some instances, SANAATAN GROUP may also share PII about you with various outside knowledge providers and knowledge facilitators or other members of the knowledge society working with us and/or on our behalf to help fulfill your requests.
                </p>
                <p style="text-align:justify">
                    In addition, SANAATAN GROUP may transfer certain PII across geographical borders to other SANAATAN GROUP partners or outside associates working with us or on our behalf. SANAATAN GROUP may also store PII in a jurisdiction other than where you are based by providing PII on SANAATAN GROUP website, visitors are consenting to this transfer and/or storage of this data across borders.
                </p>
                <p style="text-align:justify">
                    Cookies by themselves do not tell us your email address or otherwise identify you personally. If you visit SANAATAN GROUP website, we use cookies to compile aggregate statistics to help us determine what areas of the site visitors prefer.
                </p>
                <p style="text-align:justify">
                    If you subsequently register with SANAATAN GROUP website, this information may be linked to a cookie in order to enhance and personalize your online experience. (e.g., by welcoming you back when you return or providing you access to your registration information.)
                </p>
                <p style="text-align:justify">
                    You have the choice to decide whether to accept cookies or not. You can set your browser to notify you when you receive a cookie or reject cookies. However, please be aware that if you do not accept cookies, you may not be able to fully experience some of our website’s features.
                </p>
            </div>
            <div class="cell-12">

                <h3 class="block-head">Web Beacons</h3>
                <p style="text-align:justify">
                    A web beacon is a small image file on a webpage that can be used to collect certain information from your computer, such as an IP address, the time, the content was viewed, a browser type, and the existence of cookies previously set by the same server. SANAATAN GROUP only uses web beacons in accordance with applicable laws. 
                </p>
                <p style="text-align:justify">
                    SANAATAN GROUP or its service providers may use web beacons to track the effectiveness of third party websites that provide us with recruiting or marketing services or to gather aggregate visitor statistics and manage cookies.
                </p>
            </div>
            <div class="cell-12">

                <h3 class="block-head">Automatic Collection of PII</h3>
                <p style="text-align:justify">
                    In some instances, SANAATAN GROUP automatically collects certain types of information when you visit our website and through emails that we may exchange. Automated technologies may include the use of web server logs to collect IP addresses, “cookies” and web beacons. The collection of this information will allow us to understand and improve the performances, usability and effectiveness of SANAATAN GROUP website and to measure effectiveness of our knowledge services.
                </p>
                <p style="text-align:justify">
                    SANAATAN GROUP or its service providers may use web beacons to track the effectiveness of third party websites that provide us with recruiting or marketing services or to gather aggregate visitor statistics and manage cookies.
                </p>
            </div>
            <div class="cell-12">

                <h3 class="block-head">IP Address</h3>
                <p style="text-align:justify">
                    An IP address is a number assigned to your computer whenever you access the internet. It allows computers and serves to recognize and communicate with one another. IP addresses from which visitors appear to originate may be recorded for IT security and system diagnostic purposes. This information may also be used in aggregate form to conduct website trend and performance analysis.
                </p>
                
            </div>
            <div class="cell-12">

                <h3 class="block-head">Cookies</h3>
                <p style="text-align:justify">
                    A cookie is a small piece of text that a website places in the cookie file of your browser and that allows the site to remember who you are. Cookies cannot be used to run programs or deliver viruses. For example, if you send us an email message requesting we will use your email address and other information you supply.
                </p>
                <p style="text-align:justify">
                    SANAATAN GROUP generally collects only the personal information necessary to fulfill the visitor’s request where additional optional information is sought you will be notified of this at the point of collection.
                </p>
                <p style="text-align:justify">
                    SANAATAN GROUP only collects “sensitive” personal when the relevant individuals voluntarily provide us with this information or where such information is required or permitted to be collected by law or professional standards. Sensitive information includes personal information regarding a person’s race, ethnicity, political beliefs, club memberships, social groups, religious or similar beliefs, physical or mental health, sexual life or criminal record. Please use your discretion when providing sensitive information to SANAATAN GROUP, and under any circumstances, do not provide sensitive information for its legitimate business purposes and consent to the transfer and storage of such information to and in SANAATAN GROUP databases. If you have any questions about whether the provision of sensitive information to SANAATAN GROUP is, or may be, necessary or appropriate for particular purposes, please contact SANAATAN GROUP at the address indicated below.
                </p>
            </div>
        </div>
    </div>
</div>

