
@{
    ViewBag.Title = "Project And Efforts";
}
<div class="page-title title-1">
    <div class="container">
        <div class="row">
            <div class="cell-12">
                <h1 class="fx" data-animate="fadeInLeft">Projects And <span>Efforts</span></h1>
                @*<div class="breadcrumbs main-bg fx" data-animate="fadeInUp">
                        <span class="bold">You Are In:</span><a href="#">Home</a><span class="line-separate">/</span><a href="#">Pages </a><span class="line-separate">/</span><span>Page with Sidebar</span>
                    </div>*@
            </div>
        </div>
    </div>
</div>

<div class="sectionWrapper">
    <div class="container">
        <div class="row">
            <div class="cell-12">
              
                <h3 class="block-head">intelliEXAMS</h3>
                <p style="text-align:justify">
                As an initiative of our Alliance Corporate, Mindlogicx, intelliEXAMS has been designed by a team of experts with knowledge in both academic and technology domains. International standards encryption and security systems have been followed for secured delivery of question papers to the remote centres. The delivery system is so unique that hacking is practically not possible. Further, three party authentication takes care of any possible manual errors.
                </p>

                <p style="text-align:justify">
                    The system has a simple and easy to use web-based centralized user interface and a well-defined database-centric schema for storing, retrieving, managing and aggregating examination objects. IntelliEXAMS has a powerful but easy to use question bank authoring system with different question types like multiple choices, true or false, fill in the blanks etc. The question banks are managed online and the questions can contain multimedia contents also. The question papers are delivered in a highly secured manner with 128-bit encryption technology to provide peace of mind to the stakeholders. Effective reports are generated to know the details about examinations conducted, examination centre details, fee details, candidate details, cost and budget details etc.
                </p>
                <p style="text-align:justify">
                    The system manages the schedule effectively for examination centres or individuals and prints the exam hall entry pass with multi-level verification processes including photograph of the candidates. IntelliEXAMS, which has a built in powerful and flexible reporting system, enables the user to view and analyze the results on demand. The system also enables the user to have university examinations conducted with ease. IntelliEXAMS has advanced features like comprehensive test engine with randomization of questions and choices and role-based security allowing multiple levels of permissions for authors and administrators.
                </p>
                <p style="text-align:justify">
                    The examination management system is a unique software solution for the management of university examinations. It includes a range of services that allow the solution to interact with the colleges associated with the university and also provide the framework for all the university level functionalities for the effective conduct of examinations.
                </p>
                <p style="text-align:justify">
                    The intelliEXAMS framework is built as a technology suite and provides the solution to the clients as a solution. It has a web based authoring tool by which the question papers can be set by subject experts located in different parts of the world, thus giving the client the convenience of having the best set of question papers in a shortest time possible. The question paper is set on pre set parameters or templates by randomization process and then pushed the same to the examination centers in encrypted format. A certain time period before the examination, the question papers would be decrypted, printed and distributed to the examination centers. The question paper is first encrypted before being sent to the remote examination centers, from where the authorized person uses his key to decrypt and then print using high speed printers. Further, there are hardware based authentications which ensures the whole process is highly secure and fool proof.
                </p>
                <p style="text-align:justify">
                    As a part of the intelliEXAMS framework, there is an examination management process that encompasses the management of examinations that are online or offline. It takes into account the attendance and regulations for the course and program and then verifies the fee payments made before the hall ticket generation can be implemented. The results processing and publishing can be done optionally to the students or to the Examination Center after real time analysis of the results, moderation and approval. 
                </p>
            </div>
            <div class="cell-12">
          
                <h3 class="block-head">intelliCAS</h3>
                <p style="text-align:justify">
                    As an initiative of our Alliance Corporate, Mindlogicx,  intelliCAS is a unique Certificate Authentication System under which the certificates issued to the candidates by the client will be authenticated by the company through a Global Access Code (GAC) along with security hologram / smart label. Using GAC which is an unique ID, for each certificate, the credentials of the candidate may be checked and validated from the global database maintained by our partner agency who has their presence in about 140 countries worldwide.
                </p>

                <p style="text-align:justify">
                    By this system each student will have an unique Global Access Code (GAC) which the prospective employer can verify from the global data base. The employer will  be able to get complete data about the student including his marks, performance analysis and validation of the data. By this the issue of handling fake resume can also be effectively handled.
                </p>
            
            </div>
            <div class="cell-12">

                <h3 class="block-head">MCA21 V2, CRC</h3>
                <p style="text-align:justify">
                    MCA21 V2 is a mission mode e-Governance project of Ministry of Corporate Affairs, Government of India, implemented to facilitate Ease of Doing Business for the Stakeholders with in the Scope and Provision of Corporate Legislations.
                </p>
                <p style="text-align:justify;font-weight:bold">
                     Scope of MCA21 V2 Project includes:<br /></p>
                <ul class="list prim list-crosshairs bl-ju">
                    <li style="color:black">Business and Administrative Processes covered under MCA21.</li>
                    <li style="color:black">Application Solution Components Developed/Customized to realize the business processes.</li>
                    <li style="color:black">Underlying Infrastructure.</li>
                    <li style="color:black">Operations & Maintenance of Services to Support and Optimize Business Processes.</li>
                    </ul>
                  


                    <p style="text-align:justify">
                        A dedicated team of our professionally Qualified Members(70+) Called "Team Sanaatan" in supporting the Name Availability Section-CRC I and Incorporation Section-CRC II under MCA21 V2 Project under the guidance and support of our Alliance Corporate and Client Organization.
                        Team Sanaatan deployed at MCA21 V2 (CRC I & CRC II) deserves applause and acclamation for being dedicated professional support as Subject Matter Experts for this Patriotic Cause.
                    </p>
                    <p style="text-align:justify">
                        M/S M.SadaShiv & Associates, Company Secretaries in the driving force behind Success of this Project undertaken by Sanaatan Group.
                        We appreciate special efforts of officials of Institute of Company Secretaries of India for Supporting the Project with heart.
                    </p>
</div>
            <div class="cell-12">

                <h3 class="block-head">GSTN Tax Payers Assistance Centre</h3>
                <p style="text-align:justify">
                    GSTN is not for Profit,non-Government Company incorporated to provide IT Infrastructure and Services to all Stakeholders for implementation of Goods and Services Tax(GST).
                    </p>
                <p style="text-align:justify">
                    GSTN is a broad-based,comprehensive,single indirect tax which will be levised concurrently on Goods and Services across India.
                    </p>
                <p style="text-align:justify">
                    GSTN will replace most of the Central and State Indirect Taxes such as Value added Tax(VAT),Excise Dates,Service Tax,Central Sales Tax,Additional Custom Duty and Special Additional Duty of Customs,Entertainment Tax,Luxury Tax,octroi and Entry Tax and Purchase Tax etc.
                    </p>
                <p style="text-align:justify">
                    To Smoothen the transition from Conventional system of taxation to Technology enabled GST Regime,GSTN has taken an initiative to organize operations of GSTN Tax Payers Assistance Center at Delhi-NCR.
                    A dedicated team of our professionally Qualified Members(125+) Called "Team Sanaatan" in supporting the GSTN Tax Payers Assistance Centre by efficiently handling queries of Tax Payers through Inbound Calls,Outbound Calls,Ticket Resolution and Email Resolution under the supervision of 3 tier Resolution Team Comprising of L0, L1 and L2 Resources, in sync with technical and administrative support of our Alliance Corporate and Client Organization.
                   </p>
                <p style="text-align:justify">
                    Team Sanaatan deployed at GSTN Tax Payers Assistance Centre deserves applause and acclamation foe being dedicated professional support as Subject Matter Experts for this Patriotic Cause.
                    M/S M.SadaShiv & Associates, Company Secretaries in the driving force behind Success of this Project undertaken by Sanaatan Group.
                    We appreciate special efforts of officials of Institute of Company Secretaries of India for Supporting the Project this Patriotic Cause.
                </p>

            </div>
            <div class="cell-12">

                <h3 class="block-head">IntelliLCM</h3>
                <p style="text-align:justify">
                    Intelli LCM is an inhouse initiative of Team Sanaatan.
                    Intelli LCM is being developed on Technology Enabled integrated. Legal and Compliance Management System for Multi-State and Multi- Location Organisation .
                    </p>
                <p style="text-align:justify">
                    Intelli LCM is being developed both as ASP Model as well as MAS Model for implementation of a highly scalable, robost and centralized developed Web based Compliance Management Application system and frameword to support all business ,technical support and functional requirements related to Multi-Branch and Multi-Location Compliance Management to ensure effective compliance of all Regulatory/ Statutory/ Legal Requirements/ Guidelines as maybe applicable on it keeping in view organisation's nature of business and operation in india, averting any exposure of branch of any nature in relation thereto.
                   </p>


                <p style="text-align:justify;font-weight:bold">
                    Intelli LCM encompasses following major functional modules:<br /></p>
                <ul class="list prim list-crosshairs bl-ju">
                <li style="color:black">Automated Self-Driven Compliance Programs.</li>
                    <li style="color:black">Concurrent Compliance audit.</li>
                    <li style="color:black">Effective Resolution System.</li>
                    <li style="color:black">Comprehensive Updated Repository.</li>
                    <li style="color:black">Easily Enabled Company Masters.</li>
                    <li style="color:black">Elaborate and Effective MIS.</li>
                    <li style="color:black">Meaningful and Actionable Board Reports.</li>    
                </ul>

                    <p style="text-align:justify;font-weight:bold">
                        The Compliance Program envisaged under Intelli LCM is based on Categorization of Compliances as Underneath:<br />
                    </p>
                <ul class="list prim list-crosshairs bl-ju">
                     <li style="color:black">Constitution related Compliances.</li>
                    <li style="color:black">Activities related Compliances</li>
                    <li style="color:black">Establishment related Compliances.</li>
                    <li style="color:black">Manpower related Compliances.</li>
                    <li style="color:black">Dealings related Compliances.</li>
                    <li style="color:black">Policy related Compliances.</li>
                    <li style="color:black">CSR related Compliances.</li>
                    <li style="color:black">Environment related Compliances.</li>
                    <li style="color:black">Enegry related Compliances.</li>
                    <li style="color:black">Location related Compliances.</li>
                    <li style="color:black">Inter-Legislative Compliances.</li>
                    <li style="color:black">Global Compliances.</li>
                    <li style="color:black">Socio-Economic Compliances.</li>
                    <li style="color:black">Stake-Holders Obligation related Compliances.</li>
                    <li style="color:black">Conflict / Disput related Compliances.</li>
                    <li style="color:black">Service Quality and Standards Related Compliances.</li>
                    <li style="color:black">Contigent Compliances.</li>
                </ul>
                <br />
</div>
            <div class="cell-12">

                <h3 class="block-head">IntelliGST</h3>
                <p style="text-align:justify">
                    IntelliGST is an inhouse initiative of Team Sanaatan, being developed an Technology Enabled Integrated, GST Facilitation Platform for all Satkeholders including GSTN, GSP, ASP, GFC, Tax Professionals, Tax Payers, Institution, Knowledge Partners and Career Seekers.
                    </p>
                <p style="text-align:justify">
                    IntelliGST is being developed an ASP Model to facilitate Compliance Program, Compliance Audit and Resolution System with respect to due deligence expected under GST Regime.
                </p>
                <p style="text-align:justify">
                    IntelliGST encompasses a comprehensive Knowledge Bank of FAQ, Tutorials, Articles/ Slides and Content to facilitate ready assistance to all Stakeholders engaged in GST Eco-System.
                </p>
                <p style="text-align:justify">
                    GST IntelliClub comprising of Content Authors, subject Matter Experts and Trainers shall be facilitating relevant Knowledge to all Stakeholders through Discussion Forum and Expression Slate tools.
                </p>
                <p style="text-align:justify">
                    Intelli GST in the appropriate platform for accessing to Comprehensive Repository of Acts, Rules, Regulations, Guidlines, Circulars, Notifications and Updates pertaining to GST Eco- System.

                </p>

            </div>

        </div>
    </div>
</div>