
@{
    ViewBag.Title = "Service Verticals";
}
<style>
    .dropbtn {
        
         }

    .ddown {
        position: relative;
        display: inline-block;
    }

    .ddown-content {
        display: none;
        position: fixed;
        background-color: #f9f9f9;
        min-width: 220px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        text-align:left;
    }

        .ddown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .ddown-content a:hover {
                background-color: #f1f1f1;
            }

    .ddown:hover .ddown-content {
        display: block;
    }

    .ddown:hover .dropbtn {
        
    }
</style>

<div class="page-title title-1">
    <div class="container">
        <div class="row">
            <div class="cell-12">
                <h1 class="fx" data-animate="fadeInLeft">Message <span>From The Prime Mover</span></h1>
                @*<div class="breadcrumbs main-bg fx" data-animate="fadeInUp">
                        <span class="bold">You Are In:</span><a href="#">Home</a><span class="line-separate">/</span><a href="#">Pages </a><span class="line-separate">/</span><span>Page with Sidebar</span>
                    </div>*@
            </div>
        </div>
    </div>
</div>

<div class="sectionWrapper">
    <div class="container">
        <div class="row">
            <div class="cell-12">
              
                <h3 class="block-head">Service Verticals</h3>
    
                    <!-- staff item start -->
                @*<div class="ddown">
                    <button class="dropbtn">Dropdown</button>
                    <div class="ddown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>*@
                  
                            <div class="cell-3 service-box-3 fx" data-animate="fadeInDown">
                                <div class="box-head">
                                    <div class="ddown">
                                        <i class="icon main-bg fa fa-rupee dropbtn"></i>
                                        <div class="ddown-content">
                                            <ul class="list prim list-crosshairs bl-ju">
                                                <li style="color:black"><i class="icon-ok-sign"></i> Mergers and Acquistions</li>
                                                <li style="color:black"><i class="icon-ok-sign"></i> Corporate Finance</li>
                                                <li style="color:black"><i class="icon-ok-sign"></i> Venture Capital</li>
                                                <li style="color:black"><i class="icon-ok-sign"></i> Arranging Debt Financing</li>
                                                <li style="color:black"><i class="icon-ok-sign"></i> Arranging Equity Financing</li>
                                                <li style="color:black"><i class="icon-ok-sign"></i> Corporate Restructuring</li>
                                                <li style="color:black"><i class="icon-ok-sign"></i> Debt Swapping</li>
                                                <li style="color:black"><i class="icon-ok-sign"></i> Structured Finance</li>
                                            </ul>
                                        </div>                                                                                  
                                               <h4 class="main-color"><span data-hover="Financial Services">Financial Services</span></h4>
                                    </div>

                            </div></div>
                     
                 
                    <!-- staff item end -->
                    <!-- staff item start -->
                   
                     
                            <div class="cell-3 service-box-3 fx" data-animate="fadeInDown">
                                <div class="box-head">
                                    <div class="ddown">
                                        <i class="icon main-bg fa fa-calculator"></i>
                                        <div class="ddown-content">
                                            <ul class="list prim list-crosshairs bl-ju">
                                                <li style="color:black"><i class="icon-ok-sign"></i> Accounting</li>
                                                <li style="color:black"><i class="icon-ok-sign"></i> BookKeeping</li>
                                                <li style="color:black"><i class="icon-ok-sign"></i> Auditing</li>
                                                <li style="color:black"><i class="icon-ok-sign"></i> Payroll</li>
                                                
                                            </ul>
                                        </div>
                                        <h4 class="main-color"><span data-hover="Accounting Services">Accounting Services</span></h4>
                                    </div>    </div>

                            </div>
                     
                    <!-- staff item end -->
                    <!-- staff item start -->
                           <div class="cell-3 service-box-3 fx" data-animate="fadeInDown">
                                <div class="box-head">
                                    <div class="ddown">
                                        <i class="icon main-bg fa fa-legal"></i>
                                        <div class="ddown-content">
                                            <ul class="list prim list-crosshairs bl-ju">
                                                <li style="color:black"><i class="icon-ok-sign"></i> Legal Advisory</li>
                                                <li style="color:black"><i class="icon-ok-sign"></i> Legal Representation</li>
                                                <li style="color:black"><i class="icon-ok-sign"></i> Legal Documentation</li>
                                                <li style="color:black"><i class="icon-ok-sign"></i> Legal Certification</li>
                                                <li style="color:black"><i class="icon-ok-sign"></i> Arbitration and Conciliation Services</li>

                                            </ul>
                                        </div>
                                        <h4 class="main-color"><span data-hover="Legal Services">Legal Services</span></h4>
                                    </div>    </div>

                            </div>
                        
                    <!-- staff item end -->
                    <!-- staff item start -->
                             <div class="cell-3 service-box-3 fx" data-animate="fadeInDown">
                                <div class="box-head">
                                    <div class="ddown">
                                        <i class="icon main-bg fa fa-briefcase"></i>
                                        <div class="ddown-content">
                                            <ul class="list prim list-crosshairs bl-ju">
                                                <li style="color:black"><i class="icon-ok-sign"></i> Tax Planning</li>
                                                <li style="color:black"><i class="icon-ok-sign"></i> Corporate Direction</li>
                                                <li style="color:black"><i class="icon-ok-sign"></i> Corporate Compliances</li>
                                                <li style="color:black"><i class="icon-ok-sign"></i> Corporate Training</li>
                                                <li style="color:black"><i class="icon-ok-sign"></i> Corporate Healing</li>

                                            </ul>
                                        </div>
                                        <h4 class="main-color"><span data-hover="Secretarial Services">Secretarial Services</span></h4>
                                    </div>
                                              </div>
                            </div>
                     
                    <!-- staff item end -->
                    <!-- staff item start -->
                           <div class="cell-3 service-box-3 fx" data-animate="fadeInDown">
                                <div class="box-head">
                                    <div class="ddown">
                                        <i class="icon main-bg fa fa-clipboard"></i>
                                        <div class="ddown-content">
                                            <ul class="list prim list-crosshairs bl-ju">
                                                <li style="color:black"><i class="icon-ok-sign"></i> Strategic Management Consulting</li>
                                                <li style="color:black"><i class="icon-ok-sign"></i> Financial Management Consulting</li>
                                                <li style="color:black"><i class="icon-ok-sign"></i> Human Resources Management Consulting</li>
                                                <li style="color:black"><i class="icon-ok-sign"></i> Marketing Management Consulting</li>
                                                <li style="color:black"><i class="icon-ok-sign"></i> Operations Management Consulting</li>
                                                <li style="color:black"><i class="icon-ok-sign"></i> Business Process Management</li>
                                                <li style="color:black"><i class="icon-ok-sign"></i> Project Management</li>

                                            </ul>
                                        </div>
                                        <h4 class="main-color"><span data-hover="Managerial Services">Managerial Services</span></h4>
                                    </div>
                                              </div>
                            </div>
                       
                    <!-- staff item end -->
                    <!-- staff item start -->
                           <div class="cell-3 service-box-3 fx" data-animate="fadeInDown">
                                <div class="box-head">
                                    <div class="ddown">
                                        <i class="icon main-bg fa fa-laptop"></i>
                                        <div class="ddown-content">
                                            <ul class="list prim list-crosshairs bl-ju">
                                                <li style="color:black"><i class="icon-ok-sign"></i> IT Consulting</li>
                                                <li style="color:black"><i class="icon-ok-sign"></i> IT Support</li>
                                                <li style="color:black"><i class="icon-ok-sign"></i> IT Design and Development</li>
                                                <li style="color:black"><i class="icon-ok-sign"></i> IT Infrastructure and Hosting</li>
                                                <li style="color:black"><i class="icon-ok-sign"></i> Licensing Services For The Right To Use Computer Software and Databases</li>
                                                <li style="color:black"><i class="icon-ok-sign"></i> Digital Signature Certificates</li>
                                                <li style="color:black"><i class="icon-ok-sign"></i> Business Software</li>

                                            </ul>
                                        </div>
                                        <h4 class="main-color"><span data-hover="IT Services">IT Services</span></h4>
                                    </div>    </div>

                            </div>
                     
                    <!-- staff item end -->
                    <!-- staff item start -->
                          <div class="cell-3 service-box-3 fx" data-animate="fadeInDown">
                                <div class="box-head">
                                    <div class="ddown">
                                        <i class="icon main-bg fa fa-server"></i>
                                        <div class="ddown-content">
                                            <ul class="list prim list-crosshairs bl-ju">
                                                <li style="color:black"><i class="icon-ok-sign"></i> Enterprise Resource Planning Solutions</li>
                                                
                                            </ul>
                                        </div>
                                         <h4 class="main-color"><span data-hover="Governance Services">Governance Services</span></h4>
                                    </div>    </div>

                            </div>
                       
                    <!-- staff item end -->
                
            </div>

        </div>
    </div>
</div>




